.search-filter {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  span {
    flex: 0 1 auto;
  }

  select {
    margin: 0 4%;
    width: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1% 2%;
    font-size: $font-size-base;
    border: none;
    background-color: $input-color-base;
    border-radius: 5px;
  }
}
