.search-filter {
  flex: 0 0 70%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;

  input {
    padding: 2% 4%;
    width: 150px;
    height: 40px;
    background-color: $input-color-base;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    &::placeholder {
      color: lightgray;
    }
  }

  .search-icon {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: $input-color-base;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}
