// main color scheme
$black-base: #090c08;
$dark-gray-base: #2e2532;
$red-base: #eb5160;
$white-base: #ffffff;
$dirty-white-base: #f9f8fa;
$input-color-base: #f3f3f3;
$blue-base: #6320ee;
$primary-color: #6320ee;

// greys
$black-gray: #0c0c0c;
$dark-gray-gray: #333333;
$red-gray: #eaeaea;
$blue-gray: #ededed;
