@import "./colors.scss";
@import "./typography.scss";
@import "../components/nav-bar/nav-bar";
@import "../components/header/header";
@import "../components/main/main";
@import "../components/search-filter/search-filter";
@import "../components/record/components/record-list-item/record-list-item";
@import "../components/add-button/add-button";
@import "../components/record/components/record-card/record-card";
@import "../components/record/components/record-details/record-details";
@import "../components/record/components/record-form/record-form";

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.main-container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.app-body {
  width: 84%;
  height: 100%;
  margin-left: 8%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 10.5fr;
  grid-template-areas:
    "navbar"
    "header"
    "body";
}

.nav-bar {
  grid-area: navbar;
}

.header-area {
  grid-area: header;
}

.body-container {
  grid-area: body;
}

.nav-bar,
.header-area,
.body-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-parent {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.flex-1,
.flex-2,
.flex-3,
.flex-4 {
  display: flex;
  flex-flow: row wrap;
}

.flex-1 {
  flex: 0 0 100%;
}

.flex-2 {
  flex: 0 0 50%;
}

.flex-3 {
  flex: 0 0 33.33%;
}

.flex-4 {
  flex: 0 0 25%;
}

.margined-flex-1,
.margined-flex-2,
.margined-flex-3,
.margined-flex-4 {
  margin-left: 8%;
  display: flex;
  flex-flow: row wrap;
}

.margined-flex-1 {
  flex: 0 0 84%;
}

.margined-flex-2 {
  flex: 0 0 38%;
}

.margined-flex-3 {
  flex: 0 0 22.33%;
}

.margined-flex-4 {
  flex: 0 0 15%;
}
