.record-details-container {
  height: 100%;
  align-content: start;

  .product-image {
    height: 250px;
    background-color: $primary-color;
    justify-content: center;
    align-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .image-placeholder {
    height: 250px;
    background-color: $primary-color;
    justify-content: center;
    align-content: center;

    span {
      flex: 0 0 30%;
      text-align: center;
      color: silver;
    }
  }

  .product-content {
    margin-top: 4%;
    word-break: break-all;
  }

  .product-description {
    margin: 8% 0;
    font-size: $font-size-base;
    font-weight: 300;
  }

  .product-image-src {
    font-size: $secondary-font-size;
    margin-bottom: 4%;
    p {
      margin: 0;
      padding: 0;
    }
  }

  .product-date {
    span {
      margin-left: 2%;
      font-weight: 700;
    }
  }
}

.product-actions {
  margin-top: 4%;
  button {
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 4%;
    background-color: transparent;
    font-size: $input-font-size-base;
    cursor: pointer;
  }

  .default {
    color: $primary-color;
    border: 1px solid $primary-color;
  }

  .danger {
    color: $red-base;
    border: 1px solid $red-base;
  }
}
