.add-button {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  margin: 0 8% 8% 0;
  cursor: pointer;
  border: none;
  z-index: 3;

  span {
    color: $white-base;
  }

  @media (min-width: 1200px) {
    margin: 0 8% 4% 0;
  }
}
