.record-form-container {
  height: 100%;
  align-content: start;

  .product-image-preview {
    height: 250px;
    background-color: $primary-color;
    justify-content: center;
    align-content: center;

    span {
      flex: 0 0 30%;
      text-align: center;
      color: silver;
    }
  }

  .product-form-body {
    margin-top: 4%;
  }

  .field-item {
    margin-bottom: 4%;

    label {
      margin-bottom: 2%;
    }

    input,
    textarea {
      border-radius: 5px;
      border: none;
      background-color: $input-color-base;
      font-size: $font-size-base;
      padding: 2% 4%;
    }

    textarea {
      height: 100px;
    }
  }

  .product-actions {
    .default {
      width: 75px;
      background-color: $primary-color;
      color: $white-base;
      transition: all 0.5s ease;

      &:disabled {
        background-color: darken($blue-gray, 20%);
        border: darken($blue-gray, 20%);
      }
    }
  }

  .react-datepicker-wrapper {
    width: 100%;

    * {
      width: 100%;
    }
  }
}
