.record-form-container {
  height: 100%;
  align-content: start;

  .product-image-preview {
    height: 250px;
    background-color: $dark-gray-base;
  }

  .product-form-body {
    margin-top: 4%;
  }

  .field-item {
    margin-bottom: 4%;

    label {
      margin-bottom: 2%;
    }

    input,
    textarea {
      border-radius: 5px;
      border: none;
      background-color: $input-color-base;
      font-size: $font-size-base;
      padding: 2% 4%;
    }

    textarea {
      height: 100px;
    }
  }
}
