.record-card-container {
  position: absolute;
  top: 12vh;
  left: 0;
  width: 100vw;
  min-height: 88%;
  z-index: 2;
  background: $white-base;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;

  -webkit-box-shadow: 0px 10px 18px 6px darken($blue-base, 30%); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 10px 18px 6px darken($blue-base, 30%); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 10px 18px 6px darken($blue-base, 30%); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

  .close-button {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 2%;
    right: 6%;
    cursor: pointer;

    span {
      color: $white-base;
    }
  }

  @media (min-width: 768px) {
    position: relative;
    background: $white-base;
    top: auto;
    width: auto;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    min-height: 600px;

    -webkit-box-shadow: 0px 10px 18px 6px darken($blue-base, 30%); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 10px 18px 6px darken($blue-base, 30%); /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 10px 18px 6px lighten($blue-base, 40%); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    .close-button {
      right: 4%;
    }
  }

  @media (min-width: 1200px) {
    max-width: 400px;
    max-height: 850px;
  }
}
