.record-card-container {
  position: absolute;
  top: 12vh;
  width: 100vw;
  height: 88vh;
  z-index: 2;
  background: $white-base;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  overflow: hidden;

  .close-button {
    position: absolute;
    top: 2%;
    right: 8%;

    span {
      color: $white-base;
    }
  }
}
